body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
}

/* CSS NAVBAR */

.logo-amd-navbar {
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .navbar-align {
    width: 450px;
  }
}

/* CSS NAVBAR Buttons */

.button {
  padding: 0.1rem 0.25rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav > div > div > div > a:hover {
  color: rgb(175, 0, 0);
  transform: scale(1.03);
}

nav > div > div > div > a:active {
  color: red;
  transform: scale(1.03);
}

/* CSS Boton subir */

.nav1 {
  font-size: 30px;
  position: fixed;
  bottom: 0;
  right: 0px;
  width: 40px;
  z-index: 20;
}

.enlaces1 {
  padding: 0;
  list-style: none;
}

.button-color-up {
  color: red;
}

/* CSS Sección Imagen + Título */

.image-section {
  width: 100%;
  background-image: url(./img/fondo\ amd.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-presentation {
  width: 100%;
}

.image-title {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.image-h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* CSS Cards Tecnología */

.section-tech {
  background: rgba(225, 225, 226, 0.253);
}

.tech-title {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: red;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.555);
  letter-spacing: 5px;
}

.image-card {
  width: 60%;
}

.card-style {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.card-tech {
  width: 15rem;
  margin: 1rem 1.5rem;
}

@media only screen and (min-width: 574px) and (max-width: 860px) {
  .card-tech-freesync {
    width: 15rem;
    margin: 3rem 1.5rem;
  }
}

/* CSS Modal Ryzen */

.game-farcry6 {
  width: 40%;
}

.game-char {
  width: 60%;
  text-align: justify;
  color: white;
  margin-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.div-farcry {
  background-color: rgba(240, 248, 255, 0.13);
}

.text-ryzen {
  font-size: 15px;
  margin-bottom: 8px;
}

.cpu-ryzen {
  padding-left: 1.5rem;
  width: 40%;
}

.cpu-char {
  width: 60%;
  text-align: justify;
  color: white;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.board-ryzen {
  padding: 1rem;
  width: 40%;
}

.board-char {
  width: 60%;
  text-align: justify;
  color: white;
  margin-top: 3.5rem;
  padding-right: 1.5rem;
}

.div-board {
  background-color: rgba(240, 248, 255, 0.13);
}

@media only screen and (max-width: 1200px) {
  .game-farcry6 {
    width: 70%;
  }
  .game-char {
    width: 100%;
    text-align: justify;
    color: white;
    margin-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
  .div-farcry {
    background-color: rgba(240, 248, 255, 0.13);
    justify-content: center;
  }

  .cpu-ryzen {
    padding: 0.5rem;
    width: 70%;
  }

  .cpu-char {
    width: 100%;
    text-align: justify;
    color: white;
    margin-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .div-cpu {
    justify-content: center;
  }

  .board-ryzen {
    margin-top: 1rem;
    padding: 0;
    width: 70%;
  }

  .board-char {
    width: 100%;
    text-align: justify;
    color: white;
    margin-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .div-board {
    background-color: rgba(240, 248, 255, 0.13);
    justify-content: center;
  }
}

/* CSS Modal  RX*/

.bg-modal {
  background-image: url(./img/fondo-oscuro.jpg);
}

.chart {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 237px;
  width: 100%;
}

.bar-label {
  text-align: left;
  padding-top: 10px;
  font-size: 16px;
  color: white;
}

.score {
  text-align: right;
  width: 84%;
  padding: 5px 10px 5px;
  margin-left: 0;
  background-color: #ed1c24;
}

.score1 {
  text-align: right;
  width: 79%;
  padding: 5px 10px 5px;
  margin-left: 0;
  background-color: #ed1c24;
}

.score2 {
  text-align: right;
  width: 67.5%;
  padding: 5px 10px 5px;
  margin-left: 0;
  background-color: #ed1c24;
}

.iframe-wh {
  width: 560px;
  height: 315px;
}

.iframe-responsive {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .iframe-wh {
    width: 403px;
    height: 227px;
  }
}

@media only screen and (max-width: 768px) {
  .iframe-wh {
    width: 403px;
    height: 227px;
  }
}

@media only screen and (max-width: 576px) {
  .iframe-wh {
    width: 302px;
    height: 170px;
  }
}

/* CSS Modal FreeSync */

.image-FS {
  width: 100%;
}

.FSdiv {
  max-width: 363.33px;
  margin: 8px;
  padding: 1rem;
}

.FSdiv1 {
  background-color: rgb(241, 241, 241);
  font-weight: bold;
}

.text-FS {
  text-align: justify;
  margin-top: 1rem;
  font-size: 15px;
}

.text-FS-ul {
  text-align: justify;
  margin-top: 1rem;
  font-size: 15px;
  padding-left: 1rem;
}

.alienware {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 1rem;
  padding-bottom: 3rem;
  margin-right: 1rem;
}

.viewsonic {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 1rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
}

.img-alienware {
  max-width: 100%;
  margin: 8px;
  padding: 1rem;
}

.title-alienware {
  padding-top: 2rem;
  margin: 0;
}

.text-AV {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 0.8rem;
}

.text-AV-ul {
  text-align: justify;
  font-size: 15px;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 1024px) {
  .alienware {
    margin: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .viewsonic {
    margin: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
  }
}

/* CSS Portfolio */

.div-portfolio-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1000px;
}

.port-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: red;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.555);
  letter-spacing: 5px;
}

.port-title1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.card {
  border-radius: 5%;
}

.bg-modal1 {
  background-image: url(./img/modal-image.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-modal-vega {
  width: 180px;
}

.img-modal-performance {
  width: 100px;
}

.img-modal-fidelity {
  width: 100px;
}

.card-modal {
  background: rgba(0, 0, 0, 0.712);
  border-radius: 3%;
  color: white;
  font-size: 13px;
}

.icon-list {
  list-style: circle;
}

/* CSS timeline */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: " ";
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80, 80, 80);
  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(30, 87, 153, 1)),
    color-stop(100%, rgba(125, 185, 232, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    rgb(80, 80, 80) 8%,
    rgb(80, 80, 80) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;

  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248, 248, 248);
  padding: 6px 10px;
  border-radius: 5px;

  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15),
    0 0 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.15), 0 0 1px rgba(0, 0, 0, 0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: " ";
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255, 80, 80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248, 248, 248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;

  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250, 80, 80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248, 248, 248);
}

.desc {
  margin: 1em 0.75em 0 0;

  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {
  .timeline {
    width: 100%;
    padding: 4em 0 1em 0;
  }

  .timeline li {
    padding: 2em 0;
  }

  .direction-l,
  .direction-r {
    float: none;
    width: 100%;

    text-align: center;
  }

  .flag-wrapper {
    text-align: center;
  }

  .flag {
    background: rgb(255, 255, 255);
    z-index: 15;
  }

  .direction-l .flag:before,
  .direction-r .flag:before {
    position: absolute;
    top: -30px;
    left: 50%;
    content: " ";
    display: block;
    width: 12px;
    height: 12px;
    margin-left: -9px;
    background: #fff;
    border-radius: 10px;
    border: 4px solid rgb(255, 80, 80);
    z-index: 10;
  }

  .direction-l .flag:after,
  .direction-r .flag:after {
    content: "";
    position: absolute;
    left: 50%;
    top: -8px;
    height: 0;
    width: 0;
    margin-left: -8px;
    border: solid transparent;
    border-bottom-color: rgb(255, 255, 255);
    border-width: 8px;
    pointer-events: none;
  }

  .time-wrapper {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }

  .direction-l .time-wrapper {
    float: none;
  }

  .direction-r .time-wrapper {
    float: none;
  }

  .desc {
    position: relative;
    margin: 1em 0 0 0;
    padding: 1em;
    background: rgb(245, 245, 245);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);

    z-index: 15;
  }

  .direction-l .desc,
  .direction-r .desc {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;

    z-index: 15;
  }
}

/* @media screen and (min-width: 400px max-width: 660px) {
  .direction-l .desc,
  .direction-r .desc {
    margin: 1em 4em 0 4em;
  }
} */

/*CSS Timeline */

.aboutus-title {
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  color: red;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.555);
  letter-spacing: 5px;
  margin-bottom: 2rem;
}

.timeline-div {
  background: rgba(225, 225, 226, 0.253);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/*CSS Formulario de contacto */

.title-form {
  color: white;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}

.form-div {
  width: 800px;
}

.form-div-bg {
  background-image: url(./img/mapamundi2.svg);
  background-position: center;
  background-size: cover;
  background-color: gray;
  padding-top: 1rem;
}

/* CSS Footer */

footer {
  background: url(./img/fondo-oscuro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer > div > ul > li {
  list-style: none;
}

.img-logos-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}

.img-footer {
  width: 60px;
  filter: invert(100%);
}

.copyright-footer {
  margin-left: 20%;
  color: white;
}

.links-footer {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20%;
  padding: 0;
}

.color-icon {
  color: white;
  font-size: 20px;
}

footer > div > ul > a:link {
  text-decoration: none;
  list-style: none;
  color: white;
}

footer > div > ul > a:visited {
  text-decoration: none;
  color: white;
}

footer > div > ul > a:hover {
  text-decoration: none;
  color: white;
}

footer > div > ul > a:active {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .copyright-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-left: 15%;
    margin-right: 10%;
  }
  .links-footer {
    margin-left: 15%;
  }
}

@media only screen and (max-width: 425px) {
  .img-footer {
    margin-left: 0;
  }
  .icons-footer {
    margin-left: 3px;
    margin-right: 3px;
    padding: 0;
  }
  .img-logos-footer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  .links-footer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media only screen and (min-width: 1440px) {
  footer {
    padding-left: 10%;
  }
}

@media only screen and (min-width: 650px) {
  .priv-mediaq {
    margin-left: 20px;
  }
}
