body {
  font-family: "Noto Sans", sans-serif;
}

/* CSS NAVBAR */

.logo-amd-navbar {
  width: 70px;
}

@media only screen and (min-width: 768px) {
  .navbar-align {
    width: 450px;
  }
}

/* CSS NAVBAR Buttons */

.button {
  padding: 0.1rem 0.25rem;
  font-weight: bold;
  color: black;
  text-decoration: none;
}

nav > div > div > div > a:hover {
  color: rgb(175, 0, 0);
  transform: scale(1.03);
}

nav > div > div > div > a:active {
  color: red;
  transform: scale(1.03);
}

/* CSS Sección Imagen + Título */

.image-section {
  width: 100%;
  background-image: url(./img/fondo\ amd.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image-presentation {
  width: 100%;
}

.image-title {
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.image-h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 10px;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* CSS Cards Tecnología */

.section-tech {
  background: rgba(225, 225, 226, 0.253);
}

.tech-title {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
  font-weight: bold;
  font-size: 40px;
  color: red;
  -webkit-text-stroke: 0.1px rgba(0, 0, 0, 0.555);
  letter-spacing: 5px;
}

.image-card {
  width: 60%;
}

.card-style {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 32px;
}

.card-tech {
  width: 15rem;
  margin: 1rem 1.5rem;
}

/* CSS Modal Ryzen */

.game-farcry6 {
  width: 40%;
}

.game-char {
  width: 60%;
  text-align: justify;
  color: white;
  margin-top: 1.5rem;
  padding-right: 1.5rem;
  padding-left: 0.5rem;
}

.div-farcry {
  background-color: rgba(240, 248, 255, 0.13);
}

.text-ryzen {
  font-size: 15px;
  margin-bottom: 8px;
}

.cpu-ryzen {
  padding-left: 1.5rem;
  width: 40%;
}

.cpu-char {
  width: 60%;
  text-align: justify;
  color: white;
  margin-top: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.board-ryzen {
  padding: 1rem;
  width: 40%;
}

.board-char {
  width: 60%;
  text-align: justify;
  color: white;
  margin-top: 3.5rem;
  padding-right: 1.5rem;
}

.div-board {
  background-color: rgba(240, 248, 255, 0.13);
}

@media only screen and (max-width: 1200px) {
  .game-farcry6 {
    width: 70%;
  }
  .game-char {
    width: 100%;
    text-align: justify;
    color: white;
    margin-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }
  .div-farcry {
    background-color: rgba(240, 248, 255, 0.13);
    justify-content: center;
  }

  .cpu-ryzen {
    padding: 0.5rem;
    width: 70%;
  }

  .cpu-char {
    width: 100%;
    text-align: justify;
    color: white;
    margin-top: 1.5rem;
    padding-left: 0;
    padding-right: 0;
  }

  .div-cpu {
    justify-content: center;
  }

  .board-ryzen {
    margin-top: 1rem;
    padding: 0;
    width: 70%;
  }

  .board-char {
    width: 100%;
    text-align: justify;
    color: white;
    margin-top: 2rem;
    padding-left: 0;
    padding-right: 0;
  }

  .div-board {
    background-color: rgba(240, 248, 255, 0.13);
    justify-content: center;
  }
}

/* CSS Modal  RX*/

.bg-modal {
  background-image: url(./img/fondo-oscuro.jpg);
}

.chart {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  height: 237px;
  width: 100%;
}

.bar-label {
  text-align: left;
  padding-top: 10px;
  font-size: 16px;
  color: white;
}

.score {
  text-align: right;
  width: 84%;
  padding: 5px 10px 5px;
  margin-left: 0;
  background-color: #ed1c24;
}

.score1 {
  text-align: right;
  width: 79%;
  padding: 5px 10px 5px;
  margin-left: 0;
  background-color: #ed1c24;
}

.score2 {
  text-align: right;
  width: 67.5%;
  padding: 5px 10px 5px;
  margin-left: 0;
  background-color: #ed1c24;
}

.iframe-wh {
  width: 560px;
  height: 315px;
}

.iframe-responsive {
  width: 100%;
}

@media only screen and (max-width: 1200px) {
  .iframe-wh {
    width: 403px;
    height: 227px;
  }
}

@media only screen and (max-width: 768px) {
  .iframe-wh {
    width: 403px;
    height: 227px;
  }
}

@media only screen and (max-width: 576px) {
  .iframe-wh {
    width: 302px;
    height: 170px;
  }
}

/* CSS Modal FreeSync */

.image-FS {
  width: 100%;
}

.FSdiv {
  max-width: 363.33px;
  margin: 8px;
  padding: 1rem;
}

.FSdiv1 {
  background-color: rgb(241, 241, 241);
  font-weight: bold;
}

.text-FS {
  text-align: justify;
  margin-top: 1rem;
  font-size: 15px;
}

.text-FS-ul {
  text-align: justify;
  margin-top: 1rem;
  font-size: 15px;
  padding-left: 1rem;
}

.alienware {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 1rem;
  padding-bottom: 3rem;
  margin-right: 1rem;
}

.viewsonic {
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  padding: 1rem;
  padding-bottom: 3rem;
  margin-left: 1rem;
}

.img-alienware {
  max-width: 100%;
  margin: 8px;
  padding: 1rem;
}

.title-alienware {
  padding-top: 2rem;
  margin: 0;
}

.text-AV {
  text-align: justify;
  font-size: 15px;
  margin-bottom: 0.8rem;
}

.text-AV-ul {
  text-align: justify;
  font-size: 15px;
  padding-left: 1rem;
  margin-bottom: 0.8rem;
}

@media only screen and (max-width: 1024px) {
  .alienware {
    margin: 1rem;
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media only screen and (max-width: 1024px) {
  .viewsonic {
    margin: 1rem;
    padding-bottom: 1rem;
    padding-top: 0;
  }
}
